<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <h1>
            students
        </h1>
        <ul>
        {{#each students}}
           <li>{{id}} - {{name}} - {{city}}</li>

        {{/each}}
        </ul>
    </body>
</html>