<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
    </head>
    <body>
        <h1>
            {{ student.id }}
        </h1>

        <br>
        {{ student.name}}
        <br>
        {{ student.name}}
    </body>
</html>